.row {
    color: black;
    margin-left: 20px;
}

.row-posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    padding-bottom: 50px;
}

.row-posters::-webkit-scrollbar {
    display: none;
}

.row-poster {
    max-height: 300px;
    object-fit: contain;
    margin-right: 25px;
    transition: 450ms;
    /* width: 100%; */

}

.row-poster:hover {
    transform: scale(1.2);
    opacity: 0.8;
}